.board {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.board::after {
  content: '';
  position: absolute;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e3dfd2;
}
