.board {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.board::after {
  content: '';
  position: absolute;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e3dfd2;
}

.board-column {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.board-cell {
  height: 48px;
  width: 48px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.board.current-1 .board-column:hover .board-cell.no-player {
  background-color: rgba(0, 0, 255, 0.05);
}

.board.current-2 .board-column:hover .board-cell.no-player {
  background-color: rgba(255, 0, 0, 0.05);
}

.board-cell.player-1 {
  background-color: blue;
}
.board-cell.player-2 {
  background-color: red;
}

.board-cell:after {
  /* Taken from https://stackoverflow.com/questions/8286550/transparent-hollow-or-cut-out-circle/26481923 */
  content: '';
  position: absolute;
  border-radius: 100%;
  left: 4px;
  top: 4px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 0px 2000px #e3dfd2;
}

.board-cell.playable {
  cursor: pointer;
}
.board-cell.not-playable {
  cursor: not-allowed;
}
